## 1. Using \*args and **kwargs to call a function

In [1]:
def test_args_kwargs(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

In [2]:
args = ("two", 3, 5)
test_args_kwargs(*args)

arg1: two
arg2: 3
arg3: 5

In [3]:
test_args_kwargs(args)

TypeError: test_args_kwargs() missing 2 required positional arguments: 'arg2' and 'arg3'

In [8]:
*args

SyntaxError: can't use starred expression here (<ipython-input-8-ccef960bba07>, line 1)

In [4]:
kwargs = {"arg3": 3, "arg2": "two", "arg1": 5}
test_args_kwargs(**kwargs)

arg1: 5
arg2: two
arg3: 3

In [5]:
test_args_kwargs(kwargs)

TypeError: test_args_kwargs() missing 2 required positional arguments: 'arg2' and 'arg3'

In [7]:
**kwargs

SyntaxError: invalid syntax (<ipython-input-7-39e08d4f7309>, line 1)

In [12]:
def greet_me(**kwargs):
    print(type(kwargs))
    for key in kwargs:
        print("{0} = {1}".format(key, kwargs[key]))

greet_me(name="yasoob")

<class 'dict'>
name = yasoob

In [13]:
from pandas import *

In [14]:
d = {"my_label": Series(['A','B','A','C','D','D','E'])}
df = DataFrame(d)

In [15]:
d

{'my_label': 0    A
 1    B
 2    A
 3    C
 4    D
 5    D
 6    E
 dtype: object}

In [16]:
df

  my_label
0        A
1        B
2        A
3        C
4        D
5        D
6        E

In [17]:
df['kk'] = ['A','B','A','C','D','D','E']

In [18]:
df

  my_label kk
0        A  A
1        B  B
2        A  A
3        C  C
4        D  D
5        D  D
6        E  E

In [25]:
from pandas import *

d = {"yy_label": Series(['A','B','A','C','D','D','E'])}
df = DataFrame(d)


def as_perc(value, total):
    return value/float(total)

def get_count(values):
    return len(values)

grouped_count = df.groupby("yy_label")

In [26]:
grouped_count.yy_label

In [24]:
grouped_count.agg(get_count)

Empty DataFrame
Columns: []
Index: [A, B, C, D, E]